header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.btn-grey {
    gap: 0.313rem;
}

.icon-logo {
    height: 1.25rem;

}

.login-section {
    gap: 1.5rem
}

.password-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}